{% load static %}<!-- Instruct Django to load static files -->
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<h1>{{ question.question_text }}</h1>
{% if error_message %}
    <p>
        <strong>{{ error_message }}</strong>
    </p>
{% endif %}
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %} 
    {% for choice in question.choice_set.all %}
        
        <label class="container" for="choice{{forloop.counter }}">{{ choice.choice_text}}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <span class="checkmark"></span>
        </label>
        <br> 
    {% endfor %}
        <input class="button" type="submit" value="Vote">
</form>