<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">
        {% load static %}
        <img src="{% static 'pages/images/django.png' %}" alt="Django Icon" width="100" height="100"> + 
        {% load static %}
        <img src="{% static 'pages/images/bs.jpg' %}" width="60" height="60" alt="Bootstrap Icon"> Bootstrap
    </a>
    <div id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item {{ home_page}}">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item {{ about_page}}">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item {{ contact_page}}">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
    </div>
</nav>